body {
  background-image: url('./images/background-pc.jpeg');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: top;
}

img {
  max-width: 90vw;
}

.wrapper {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: flex-end;
}
.animate {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.3s ease,
    transform 1s ease;
  gap: 30px;
}
.animate.show {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.2s;
}
.logo {
  margin-bottom: 24px;
}
.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 18%;
}
.btn {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.btn img {
  width: 100%;
}
.btn.btn3 {
  height: 15%;
}

/** pc */
@media (min-width: 1241px) {
  .wrapper {
    top: 15vh;
    left: 13.4895vw;
    width: 29.1667vw;
    aspect-ratio: calc(560 / 549);
  }
}

/** tablet */
@media (max-width: 1240px) {
  body {
    background-image: url('./images/background-mobile.jpeg');
    height: 100svh;
    background-position: top;
    background-size: cover;
  }
  .wrapper {
    bottom: 5vh;
    left: 13.5416vw;
    width: 72.9166vw;
    aspect-ratio: calc(560 / 549);
  }
}

/** mobile */
@media (max-width: 320px) {
  body {
    background-image: url('./images/background-mobile.jpeg');
  }
  .wrapper {
    bottom: 5vh;
    left: 5.9375vw;
    width: 87.9781vw;
    aspect-ratio: calc(281.52 / 276);
  }
}
